body {
  padding: 60px;
}

/* Bai tap 1 */
.box_1 {
  width: 600px;
  padding: 0 8px 0 16px;
  border-width: 1px;
  border-radius: 4px;
  border-style: double;
  border-color: rgb(163, 163, 165);
}
.pic_1 {
  width: 100%;
  height: 100%;
}
.content_1 {
  margin: 24px 0;
}
.img_1 {
  padding: 4px;
  width: 590px;
  height: 390px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(163, 163, 165);
}
/* Bai tap 2 */
.box_2 {
  width: 300px;
  padding: 20px;
  border-width: 1px;
  border-radius: 4px;
  border-style: double;
  border-color: rgb(163, 163, 165);
}
.pic_2 {
  width: 100%;
  height: 100%;
}

.img_2 {
  width: 300px;
  height: 300px;
}
.content_2 h3 {
  margin: 0;
}
.content_2 p {
  margin: 8px 0;
}
.btn {
  color: white;
  background-color: green;
  padding: 8px 16px;
  border-radius: 6px;
  border-color: transparent;
}
hr {
  width: 298px;
  margin: 18px 0;
}
/* bai tap 3 */
.menu {
  display: flex;
  background-color: rgb(28, 28, 29);
  padding: 0 16px;
}
.menu a {
  color: white;
  text-decoration: none;
  margin-right: 36px;
}
.menu a:hover {
  color: yellow;
  text-decoration: none;
  transition: 0.5s;
}
.main_page {
  border-radius: 3px;
  border-width: 1px;
  background-color: rgb(183, 183, 189);
  padding: 8px 16px;
  margin-left: 0;
  margin-right: 20px !important;
}
/* Bai tap 4 */
.box_4 {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  background-color: rgb(93, 91, 95);
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text p {
  padding: 36px 72px;
  background-color: aquamarine;
  text-align: center;
}
.text_center p {
  padding: 36px 42px;
}
/* bai tap 5 */
.main_bt5 {
  position: relative;
  padding: 0 40px;
  background-color: burlywood;
}
.header {
  background-color: aqua;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
}
.signin {
  display: flex;
  flex-direction: row;
}
.signin button {
  padding: 6px 12px;
  background-color: green;
  color: white;
  border-radius: 3px;
}
.content_bt5 {
  width: 40%;
  background-color: aquamarine;
  padding: 60px 16px 0 16px;
}
.create_btn {
  padding: 6px 12px;
  background-color: green;
  color: white;
  border-radius: 3px;
}
.position_logo {
  position: absolute;
  right: 120px;
  top: 120px;
  border-radius: 50%;
}
